
.cta-text{
  font-weight: 700;
}

      .prod-quant{
        .prod-qty{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 8px;

          .buttonRem,.buttonAdd{
            cursor: pointer;
            transition: all 0.2s ease-in;
            background: #666;
            color: white;
            border: none;
            &:hover{
             background: #f0c040;
            }  
          }
          .buttonAdd{
            border-left: none;
            width: 25px;
            height: 25px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
          }
          .buttonRem{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: none;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
          }
          .qty-value{
            background: #f6f6f6;
            border: 1px solid #d8d8d8;
            min-width: 40px;
            width: auto;
            height: 25px;
            //border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
          }
        }
      }
      
      .prod-cta-order{
        padding: 8px 15px;
        margin: 8px 0 0 0;
        border-radius: 0px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        vertical-align: middle;
        display: flex;
        justify-content: center;

        button{
          .cart{
            margin-right: 4px;
          }
        }
      }
